@use '../../style/partials/global' as *;
@use '../../style/partials/mixins' as *;
@use '../../style/partials/variables' as *;
.input-form {
  width: 100%;
  padding: 0.7rem;
  border-bottom: 1px solid lightgray;
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__profile {
    display: none;
    width: 2rem;
    height: 2rem;
    margin-top: 0.3rem;
    border-radius: 50%;
    background-color: rgb(158, 158, 158);
    @include tablet {
      display: block;
    }
    @include desktop {
      display: block;
    }
  }

  &__placeholder {
    position: absolute;
    color: #888;
    font-size: 0.7rem;
    line-height: 1.6;
    pointer-events: none;
    z-index: 1;
    @include tablet {
      left: 3rem;
    }
    @include desktop {
      left: 3rem;
    }
  }
  &__input {
    flex: 1;
    height: 5rem;
    border: none;
    outline: none;
    resize: none;
    z-index: 0;
    font-size: 0.7rem;
    @include tablet {
      padding-left: 1rem;
    }
    @include desktop {
      padding-left: 1rem;
    }
  }
  &__btn-container {
    display: flex;
    justify-content: end;
  }
  &__btn {
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
    outline: inherit;
    padding: 0.25rem 0.5rem;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 0.7rem;
  }
  &__tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 30px;
    left: 0;
    margin: 0 1rem;
    background-color: white;
    color: black;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 0.8rem;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 2;
    @include desktop {
      font-size: 1rem;
    }
  }
  &__icon {
    width: 1rem;
    height: 1rem;
  }
  &__info {
    margin-top: 1rem;
  }
  &__info-container {
    width: 1.5rem;
    height: 1.5rem;
    z-index: 3;
  }

  &__info-container:hover .input-form__tooltip {
    visibility: visible;
    opacity: 1;
  }
  &__info-container:hover .input-form__tooltip {
    visibility: visible;
    opacity: 1;
  }
}
