@use '../../style/partials/global' as *;
@use '../../style/partials/mixins' as *;
@use '../../style/partials/variables' as *;

.navBar {
  position: fixed;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1rem;
  z-index: 1;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);

  &__icon-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include tablet {
      margin: 0 25vw;
    }

    @include desktop {
      margin: 0 30vw;
    }
  }
  &__logo {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    flex-direction: row;
    transition: transform 0.3s ease-in;
    &:hover {
      transform: scale(1.2);
    }
  }
}
