@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@keyframes bubbleEffect {
  0% {
    transform: scale(1) translateX(0) rotate(0deg);
  }
  20% {
    transform: scale(1.2) translateX(-5px) rotate(-10deg);
  }
  40% {
    transform: scale(0.9) translateX(5px) rotate(10deg);
  }
  60% {
    transform: scale(1.1) translateX(-3px) rotate(-8deg);
  }
  80% {
    transform: scale(1.05) translateX(3px) rotate(8deg);
  }
  100% {
    transform: scale(1) translateX(0) rotate(0deg);
  }
}
